<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheeet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">

<nav class="navbar navbar-inverse">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <ul class="nav navbar-nav">
            <li class="active"> <a href="/" class="navbar-brand">JobPortal</a></li>
        <li><a href="/jobs">Home</a></li>
        <li><a href="/jobs/new">New post</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
             <li><a href="/select">Login</a></li>
              <li><a href="/register">SignUp</a></li>
              <% } else { %>
                <li> <a href="#">Signed In as <%= currentUser.username%></a></li>
              <li><a href="/logout">Logout</a></li>
              <% } %>       
            </ul>
</div>
</div>
</nav>

<div class="container align-center">
    <div class="row">       

        <div style="padding-left:100px; width:40%; margin: 0 auto;"> 
       <h3 style="text-align:center"><%= job.title%></h3>
    <span><%= job.created.toDateString() %></span>
    <p> <%= job.body%></p>
    <a href="/jobs/<%= job._id%>/edit" class="btn btn-success">Edit</a>
    <form id=delete action="/jobs/<%= job._id%>?_method=DELETE" method="post">
        <button class="btn btn-danger">Delete</button>

    </form>
    </div>
</div>
</div>

<blockquote class="blockquote"></blockquote>
<footer class="blockquote-footer text-center><b>Developed By Anash</b></footer>